*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/config/signing.properties
/config/ignorance.jks
/framework/framework.iml
/glide-image-view/build
/skeleton/src/androidTest
/skeleton/src/test
/standalone/standalone-common-utils/src/test
/standalone/standalone-common-utils/src/androidTest
/common-utils/src/test
/common-utils/src/androidTest
