<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkz.utils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/common_utils_app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.wkz.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
