<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wkz.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/FRTheme.Base"
        tools:ignore="UnusedAttribute">

        <!--网页显示-->
        <activity
            android:name=".functions.web.FRWebPageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FRTheme.Activity"
            android:windowSoftInputMode="adjustNothing" />

        <!--大图浏览-->
        <activity
            android:name=".functions.imageviewer.FRImageViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FRTheme.Fullscreen.Transparent"
            android:windowSoftInputMode="adjustNothing" />

        <!--初始化服务-->
        <service android:name=".services.FRInitializeService" />

        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>
</manifest>
