<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkz.pleasedreading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".PRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pr_ic_launcher"
        android:label="@string/pr_app_name"
        android:roundIcon="@mipmap/pr_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FRTheme.Base">
        <!--闪屏页-->
        <activity
            android:name=".splash.PRSplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PRTheme.Splash"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".main.PRMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FRTheme.Activity"
            android:windowSoftInputMode="adjustNothing" />
        <!--视频-->
        <activity
            android:name=".main.gank.PRGankVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FRTheme.Activity"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>